@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?agi4dg');
  src:  url('../fonts/icomoon.eot?agi4dg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?agi4dg') format('truetype'),
        url('../fonts/icomoon.woff?agi4dg') format('woff'),
        url('../fonts/icomoon.svg?agi4dg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-foss:before {
  content: "\e904";
}
.icon-alert:before {
  content: "\e903";
}
.icon-docks:before {
  content: "\e902";
}
.icon-down:before {
  content: "\e905";
}
.icon-code:before {
  content: "\e906";
}
.icon-cpu:before {
  content: "\e907";
}
.icon-database:before {
  content: "\e908";
}
.icon-download:before {
  content: "\e900";
}
.icon-external:before {
  content: "\e90c";
}
.icon-gitlab:before {
  content: "\e90e";
}
.icon-love:before {
  content: "\e912";
}
.icon-help:before {
  content: "\e90f";
}
.icon-info:before {
  content: "\e910";
}
.icon-link:before {
  content: "\e909";
}
.icon-list:before {
  content: "\e90a";
}
.icon-mail:before {
  content: "\e90b";
}
.icon-pin:before {
  content: "\e901";
}
.icon-package:before {
  content: "\e918";
}
.icon-play:before {
  content: "\e91b";
}
.icon-add:before {
  content: "\e91c";
}
.icon-search:before {
  content: "\e91d";
}
.icon-settings:before {
  content: "\e920";
}
.icon-share:before {
  content: "\e921";
}
.icon-target:before {
  content: "\e911";
}
.icon-fail:before {
  content: "\e926";
}
