.popup {
  color: black;
  text-align: center;
}
.popup img {
  height: 5em;
  margin: auto;
}
.popup .popup__header {
  font-weight: bold;
  font-size: 1.5em;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
}
html a:link,
body a:link {
  text-decoration: none;
  color: inherit;
}
html a:visited,
body a:visited {
  color: white;
}
body {
  display: grid;
  grid-template-columns: 2fr 7fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "menu map" "cards map";
  height: 100vh;
  background-color: #ebf9f1;
}
#menu {
  grid-area: menu;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#map {
  grid-area: map;
  width: 100%;
  height: 100%;
}
#cards {
  grid-area: cards;
  height: 100%;
  display: none;
  overflow-y: scroll;
}
@media screen and (max-width: 600px) {
  body {
    grid-template-areas: "menu" "map" "cards";
    grid-template-rows: 30vh auto 70vh;
    grid-template-columns: 1fr;
  }
  #map {
    height: 100vh;
  }
}
.menu {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.25em;
  align-items: center;
  padding: 0.5em;
  width: 100%;
}
.menu__item,
.menu__button,
.menu__input {
  color: #ebf9f1;
  width: 90%;
  display: block;
  text-align: center;
  border: none;
  width: 100%;
  padding: 8px;
  margin: 5px auto;
  border-radius: 30px;
}
.menu__button {
  background-color: #ff6e4c;
}
.menu__button:hover {
  background-color: #e94a25;
}
.menu__input {
  background-color: #37b96c;
}
.menu__input:hover {
  background-color: #1aa854;
}
.places {
  display: none;
  overflow-y: scroll;
}
.places .place-card {
  display: block;
  color: black;
  border-left: thick solid;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #FFD4C9;
  border-color: #FF8A6F;
}
.places .place-card:hover {
  border-color: #FF6E4C;
}
.places .place-card.inRoute {
  background-color: #C1F4D5;
  border-color: #59CC87;
}
.places .place-card.inRoute:hover {
  border-color: #37B96C;
}
city {
  display: block;
  font-weight: bold;
}
descr {
  display: block;
  font-weight: lighter;
  font-size: -3pt;
}
