// (C) by Konrad Szychowiak 2018.

// global color definitions
@green : #37b96c;
@green-dark : #1aa854;
@red : #ff6e4c;
@red-dark : #e94a25;
@light : #ebf9f1bb;
@white : #ebf9f1;

@techC : {
  mikolaj:  #6741B0;
  konrad:   #fd5e53;
  google:   #19a15f;
  dane:     #0971dd;
  gitlab:   #fb6b26;
}

@cards : {
  out-bg: #FFD4C9;
  out-br: #FF8A6F;
  out-em: #FF6E4C;
  in-bg:  #C1F4D5;
  in-br:  #59CC87;
  in-em:  #37B96C;
}
