// (C) by Konrad Szychowiak 2018.

@null: 0;
@font-size: 14pt;

#rounded(@how_much) {
  border-radius: @how_much;
}

// namespaces

#root() {
  margin: @null;
  padding: @null;
  font-family: 'Merriweather Sans', sans-serif;

  a:link { text-decoration: none; color: inherit; }
  a:visited { color: white; }
} // for ultimate styling root elements

#title() {
  font-size: 2.5em;
  color: @green-dark; font-weight: bold;
  b { color: @red-dark; font-weight: bolder; }
} // styling "podrodze" typography

#menu() {
  .elem() {
    display: block;
    text-align: center;
    border: none;
    width: 100%;
    padding: 8px;
    margin: 5px auto;
  }
  .button() {
    background-color: @red;
    &:hover {
      background-color: @red-dark;
    }
  }
  .input() {
    background-color: @green;
    &:hover {
      background-color: @green-dark;
    }
  }
} // for menu block and its components

#placeCard() {
  .card() {
    display: block;
    color: black;
    border-left: thick solid;
    margin: 5px;
    padding: 10px;
    #rounded(5px);
  }
  .out() {
    background-color: @cards[out-bg];
    border-color: @cards[out-br];

    &:hover {
      border-color: @cards[out-em];
    }
  }
  .in() {
    background-color: @cards[in-bg];
    border-color: @cards[in-br];

    &:hover {
      border-color: @cards[in-em];
    }
  }
} // for place cards inside map component
