// (C) by Konrad Szychowiak 2018.

// styling custom google maps popup
.popup {
  color: black;
  text-align: center;

  img {
    height: 5em;
    margin: auto;
  }

  .popup__header {
    font-weight: bold;
    font-size: 1.5em;
  }
}
