// out: false, main: ../index.less

@import "colors";
@import "mixins";

#tech {
  display: grid;
  align-content: center;
  justify-content: center;

  background-color: #59CC87;
}

.tech {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
  padding: 1em;

  color: whitesmoke;
}

.tech__field {
  text-align: center;
  align-content: center;
  padding: 0;

  > * {
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  > i {
    display: grid;
    margin: auto;
    align-content: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    font-size: 2.5em;
    border-radius: 100%;
    color: @white;
    background-color: var(--tech-color);
  }
}

.tech__button {
  #menu.elem();
  #rounded(30px);
  width: percentage(2/3);
  color: var(--tech-color);
  transition: (2s/3s) background-color;

  &:hover {
    background-color: var(--tech-color);
    color: @white;
  }
}

#konrad { --tech-color: @techC[konrad]; }
#mikolaj { --tech-color: @techC[mikolaj]; }
#danegov { --tech-color: @techC[dane]; }
#gmaps { --tech-color: @techC[google]; }
#gitlab { --tech-color: @techC[gitlab]; }
#start { --tech-color: @red-dark; }
