// out: ../css/index.css, compress: false
// (C) by Konrad Szychowiak 2018.

// imports
@import "def/colors";
@import "def/mixins";

@background : {
  image : url("../img/img.jpg") no-repeat;
  filter : linear-gradient(#37b96c77, #37b96c88);
}

// root element styling
html, body {
  #root();
}

// layout styling
@media screen and (max-width: 600px) {
  #landing__menu {
    max-width: 100vw;
  }
  #info {
    grid-template-rows: 1fr;
  }
  .menu {
    max-width: 100vw;
    #rounded(0);
  }
  .tech * {
    grid-column: ~'1/6';
  }
}

@media screen and (max-width: 1200px) {
  em {
    display: none;
  }
}

#landing {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: @background[filter], @background[image];
  background-size: cover;
}
#landing__menu {
  background-color: @light;
  padding: 2em 8em;
  #rounded(20px);

  img {
    max-height: 35vh;
  }
}
#info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  text-align: center;
  background-color: @white;
  color: black;
}

#about {
  padding: 3em;
  display: grid;
  align-items: center;
}

// content styling
p.title {
  #title();
}

.menu {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  width: 25vw;
}
.menu__item {
  #menu.elem();
  #rounded(30px);
}
.menu__button:extend(.menu__item) {
  #menu.button();
}
.menu__input:extend(.menu__item) {
  #menu.input();
}
