// (C) by Konrad Szychowiak 2018.

// imports
@import "def/colors.less";
@import "def/mixins.less";
@import "def/popup.less";

// root element styling
html, body {
  #root();
}

// layout styling
body {
  display: grid;
  grid-template-columns: 2fr 7fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "menu map" "cards map";
  height: 100vh;
  background-color: @white;
}
#menu {
  grid-area: menu;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#map {
  grid-area: map;
  width: 100%;
  height: 100%;
}
#cards {
  grid-area: cards;
  height: 100%;
  display: none;
  overflow-y: scroll;
}

@media screen and (max-width: 600px) {
  body {
    grid-template-areas: "menu" "map" "cards";
    grid-template-rows: 30vh auto 70vh;
    grid-template-columns: 1fr;
  }
  #map {
    height: 100vh;
  }
}

// content styling
.menu {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.25em;
  align-items: center;
  padding: 0.5em;
  width: 100%;
}
.menu__item {
  color: @white;
  width: 90%;
  #menu.elem();
  #rounded(30px);
}
.menu__button:extend(.menu__item) {
  #menu.button();
}
.menu__input:extend(.menu__item) {
  #menu.input();
}

.places {
  display: none;
  overflow-y: scroll;

  .place-card {
    #placeCard.card();
    #placeCard.out();

    &.inRoute {
      #placeCard.in();
    }
  }
}
city {
  display: block;
  font-weight: bold;
}
descr {
  display: block;
  font-weight: lighter;
  font-size: -3pt;
}
